<div class="profile">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-body">
                        <div class="card-title mb-4">
                            <div class="d-flex justify-content-start">
                                <div class="image-container">
                                    <img src="/photos/{{profile.photoName}}" id="imgProfile"
                                        style="width: 150px; height: 150px" class="img-thumbnail" />
                                    <div class="middle">
                                        <button class="btn btn-success"
                                            onclick="window.location.href='/user/book/{{handle}}'">Book
                                            Him</button>
                                    </div>
                                </div>
                                <div class="userData ml-3">
                                    <h2 class="d-block" style="font-size: 1.5rem; font-weight: bold"><a
                                            href="javascript:void(0);">{{profile.name}}</a></h2>
                                    <div class='starrr'></div>
                                </div>
                                <div class="ml-auto">
                                    <input type="button" class="btn btn-primary d-none" id="btnDiscard"
                                        value="Discard Changes" />
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-12">
                                <ul class="nav nav-tabs mb-4" id="myTab" role="tablist">
                                    <li class="nav-item">
                                        <a class="nav-link active" id="basicInfo-tab" data-toggle="tab"
                                            href="#basicInfo" role="tab" aria-controls="basicInfo"
                                            aria-selected="true">Basic Info</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" id="connectedServices-tab" data-toggle="tab"
                                            href="#connectedServices" role="tab" aria-controls="connectedServices"
                                            aria-selected="false">Description</a>
                                    </li>
                                </ul>
                                <div class="tab-content ml-1" id="myTabContent">
                                    <div class="tab-pane fade show active" id="basicInfo" role="tabpanel"
                                        aria-labelledby="basicInfo-tab">
                                        <div class="row">
                                            <div class="col-sm-3 col-md-2 col-5">
                                                <label style="font-weight:bold;" name="firstName">Full Name</label>
                                            </div>
                                            <div class="col-md-8 col-6">
                                                {{profile.name}}
                                            </div>
                                        </div>

                                        <hr />

                                        <div class="row">
                                            <div class="col-sm-3 col-md-2 col-5">
                                                <label style="font-weight:bold;" name="phone">Phone</label>
                                            </div>
                                            <div class="col-md-8 col-6">
                                                {{profile.phone}}
                                            </div>
                                        </div>
                                        <hr />
                                        <div class="row">
                                            <div class="col-sm-3 col-md-2 col-5">
                                                <label style="font-weight:bold;" name="email">Email</label>
                                            </div>
                                            <div class="col-md-8 col-6">
                                                {{profile.email}}
                                            </div>
                                        </div>
                                        <hr />
                                        <div class="row">
                                            <div class="col-sm-3 col-md-2 col-5">
                                                <label style="font-weight:bold;" name="email">Category</label>
                                            </div>
                                            <div class="col-md-8 col-6">
                                                {{profile.category}}
                                            </div>
                                        </div>
                                        <hr />
                                    </div>
                                    <div class="tab-pane fade" id="connectedServices" role="tabpanel"
                                        aria-labelledby="ConnectedServices-tab">
                                        <div class="col-sm-3 col-md-2 col-12">
                                            <div class="col-md-8 col-6">
                                                {{profile.description}}
                                            </div>                               
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <button class="btn btn-danger" onclick="location.href='/search'">Go back</button>
        </div>
        {{>chat}}
    </div>
</div>
<script>
    $(document).ready(function () {
        $('.starrr').starrr({
            rating: {{review}},
            readOnly: true
        });
    })
</script>